
<nav class="submenu1">
  <ul>
    <li class="subtitulo">
      <%= "#{@taquilla.rotulo}: Atendiendo la cola #{@fila.siglas} - #{@fila.nombre}" %>
    </li>
    <li class="col-md">
      <%= link_to 'Refrescar', atender_index_path %>
    </li>
    <li class="col-md">
      <%= link_to 'Siguiente', atender_siguiente_path %>
    </li>
    <li class="col-md">
      <%= link_to 'Atendido', atender_atendido_path %>
    </li>
    <li class="col-md">
      <%= link_to 'Cancelar', atender_cancelar_path %>
    </li>
  </ul>
</nav>
<p class="mensaje">
  <% if @llamado.present? %>
    <%= "Atendiendo el número: #{@llamado.numero}, documento: #{@llamado.documento}, llamada: #{@llamado.avisos} ..." %>
  <% else %>
    <%= "No está atendiendo en este momento..." %>
  <% end %>
</p>

<table>
  <thead>
    <tr>
      <th>Cola</th>
      <th>Número</th>
      <th>Hora</th>
      <th>Documento</th>
      <th>Estado</th>
      <th>Hora estado</th>
      <th>Avisos</th>
      <th>Taquilla</th>
    </tr>
  </thead>

  <tbody>
    <% @fila_puestos.each do |fila_puesto| %>
      <tr class="fila_puesto_<%=fila_puesto.estado %>" >
        <td><%= fila_puesto.fila.numero %></td>
        <td><%= fila_puesto.numero %></td>
        <td><%= l(fila_puesto.hora) %></td>
        <td><%= fila_puesto.documento %></td>
        <td><%= fila_puesto.estado %></td>
        <td><%= l(fila_puesto.hora_estado) if fila_puesto.hora_estado.present? %> </td>
        <td><%= fila_puesto.avisos %></td>
        <td><% if fila_puesto.puesto.nil? then %>
            <%=  "No asignado" %>
            <% else %>
            <%=  fila_puesto.puesto.rotulo %>
            <% end %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
