
<h3> Tome nota de su número y espere su llamada ... </h3>
<p>
  <strong>Fecha:</strong>
  <%= @fila_puesto.fecha %>
</p>
<p>
  <strong>Hora:</strong>
  <%= @fila_puesto.hora %>
</p>
<p>
  <strong>Cola:</strong>
  <%= @fila_puesto.fila.nombre %>
</p>
<p class="alerta">
  <strong>Número:</strong>
  <%= @fila_puesto.numero %>
</p>
<p>
  <strong>Documento:</strong>
  <%= @fila_puesto.documento %>
</p>

<%= link_to 'Registro', registro_registrar_path %>
