
<h1>Personas en Espera</h1>

<table>
  <thead>
    <tr>
      <th>Fila</th>
      <th>Numero</th>
      <th>Hora</th>
      <th>Documento</th>
      <th>Estado</th>
      <th>Hora estado</th>
      <th>Avisos</th>
      <th>Taquilla</th>
    </tr>
  </thead>

  <tbody>
    <% @fila_puestos.each do |fila_puesto| %>
      <tr>
        <td><%= l(fila_puesto.hora) %></td>
        <td><%= fila_puesto.fila.nombre %></td>
        <td><% if fila_puesto.puesto.nil? then %>
            <%=  "No asignado" %>
            <% else %>
            <%=  fila_puesto.puesto.nombre %>
            <% end %> </td>
        <td><%= fila_puesto.numero %></td>
        <td><%= fila_puesto.documento %></td>
        <td><%= fila_puesto.estado %></td>
        <td><%= l(fila_puesto.hora_estado) if fila_puesto.hora_estado.present? %> </td>
        <td><%= fila_puesto.avisos %></td>
      </tr>
    <% end %>
    <meta http-equiv="refresh" content="15" >
  </tbody>
</table>
<br>
