
<div class= "monitor">
<div class= "en_proceso">
<h3 class= "encab_proceso"> Personas en Proceso </h3>
<table>
  <thead>
    <tr>
      <th>Fila</th>
      <th>Puesto</th>
      <th>Numero</th>
      <th>Documento</th>
      <th>Avisos</th>
    </tr>
  </thead>
  <tbody>
    <% @en_proceso.each do |enproc| %>
      <tr>
        <td><%= enproc.fila.nombre %></td>
        <td><%= enproc.puesto.rotulo %> </td>
        <td><%= enproc.numero %></td>
        <td><%= enproc.documento %></td>
        <td><%= enproc.avisos %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class= "en_espera">
<h3 class= "encab_espera"> Personas en Espera </h3>
<table>
  <thead>
    <tr>
      <th>Fila</th>
      <th>Numero</th>
      <th>Documento</th>
      <th>Estado</th>
      <th>Hora estado</th>
      <th>Avisos</th>
    </tr>
  </thead>

  <tbody>
    <% @en_espera.each do |esperando| %>
      <tr>
        <td><%= esperando.fila.nombre %></td>
        <td><%= esperando.numero %></td>
        <td><%= esperando.documento %></td>
        <td><%= esperando.estado %></td>
        <td><%= l(esperando.hora_estado) if esperando.hora_estado.present? %> </td>
        <td><%= esperando.avisos %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>


     <!-- <meta http-equiv="refresh" content="15" > -->

<!-- poster: "image_name.png", provides an image to put in place of the video before it starts playing.
    autoplay: true, starts playing the video on page load.
    loop: true, loops the video once it gets to the end.
    controls: true, provides browser supplied controls for the user to interact with the video.
    autobuffer: true, the video will pre load the file for the user on page load.

<div class="monitor">
  <div class="espera">
    <ul class= "lista">
      <li class= "encab">Personas en Espera</li>
      <li><% @en_espera.each do |espera| %></li>
      <li><%= espera.fila.siglas %>:<%= espera.numero %>-<%= espera.documento %></li>
      <li><% end %></li>
    </ul>
  </div>
  <div class="media"
    <p> <%= video_tag "danza.mp4", size: "400x300", autoplay: true, loop: true, controls: true %> </p>
  </div>
</div>
 -->
